@{
	ViewBag.Title = "附件";
}

@section Scripts{
    <script src="~/Scripts/admin.js"></script>
    <script>
        $(function(){
            if(admin&&admin.file){
                admin.file.init();
            }
        })
    </script>
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">附件</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div id="fileContainer" class="panel-body">
			</div>
		</div>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

